h2
  a(href='/'+entry.path)!= entry.title
section
  if entry.year
    span= entry.year 
  if entry.client
    span= entry.client
section
  p!= entry.blurb
section
  if entry.tech
    strong Technologies: 
    span= entry.tech
    br
  if entry.notice
    strong Notable: 
    span= entry.notice
    br
  if entry.links
    strong Links: 
    each val, key in entry.links
      span
        a(href=val)!= key