h2= entry.title
section
  span= entry.year
  if entry.client
    span= entry.client
section
  p= entry.excerpt
section
  strong Technologies: 
  span= entry.tech
section
  strong Role: 
  span= entry.role