extends layout

block main
  article
    header
      h1= title
      section
        if readingTime
          span= readingTime + '-minute read'
        time= moment(publish).format("MMMM Do YYYY")
        if external_link
          a(href=external_link) View on Instagram

    section
      if contents
        != contents
      if images
        p
          img(src=images.standard_resolution.url)