doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.title : site.title
      meta(name="viewport", content="width=device-width, initial-scale=1")
      block styles
        link(href='/css/styles.css', rel='stylesheet')
  body
    block body
      nav
        block nav
          a(href='/')
            span!= site.title
          a(href='/blog') 
            span blog
          a(href='/portfolio') 
            span portfolio
        
      main
        block main
        
      aside
        block footer
          img(src="/images/splash.jpeg", alt="Photo of me")
      aside
        block aside
          if collections.common && collections.common.length > 0
            each common in collections.common
              article
                h1= common.title
                div!= common.contents
      footer
        if site.social && site.social.length > 0
          img(src="/images/avatar.jpeg", alt="Another photo of me")
          ul
            each social in site.social
              li 
                a(href=social.url)!= social.label