doctype html
html
  head
    block head
      block title
        title= title ? title + " | " + site.title : site.title
      block styles
        link(href='/css/styles.css', rel='stylesheet')
  body
    block body
      nav
        block nav
          a(href='/')!= site.title
          
      main
        block main
        
      aside
        block footer
          img(src="/images/splash.jpeg", alt="Photo of the blogger")
      aside
        block aside
          if collections.common && collections.common.length > 0
            each common in collections.common
              article
                h1= common.title
                div!= common.contents
      footer
        if site.social && site.social.length > 0
          img(src="/images/avatar.jpeg", alt="Another photo of the blogger")
          ul
            each social in site.social
              li 
                a(href=social.url)!= social.label