extends layout

block main
  article
    header
      h1= title
      section
        span= year
        if client
          span= client
    section
      p= excerpt
    section
      strong Technologies: 
      span= tech
    section
      strong Role: 
      span= role